<header class="appie-header-area appie-header-area-rtl appie-sticky ">
    <div class="container">
        <div class="header-nav-box">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                    <div class="appie-logo-box text-right">
                        <a href="/">
                            <img src="../../../assets/image/logo.png" alt="" class="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-1 col-sm-1 order-3 order-sm-2">
                    <div class="appie-header-main-menu">
                        <ul>
                            <li>
                                <a class="top" href="/"> الرئيسية</a>
                            </li>
                            <li>
                                <a class="top" href="#service">حول موري</a>
                            </li>
                            <li>
                                <a class="top" href="index.html#features">المميزات </a>
                            </li>
                            <li>
                                <a class="top" href="#questions">الاسئلة الشائعة</a>
                            </li>
                            <li>
                                <a class="top" href="aboutUs">من نحن؟</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-7 col-sm-6 col-6 order-2 order-sm-3">
                    <div class="appie-btn-box text-left">
                        <a class="main-btn mr-30" href="signup"> احجز رحلتك الان</a>
                        <div class="toggle-btn ml-30 canvas_open d-lg-none d-block" (click)="openMobileMenu()">
                            <i class="muri-menu h5"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>