
@media (max-width: 1200px) {
        .hidden-mobile {
          display: none;
        }
      }

@media (max-width: 1200px) {
        .pd-16-mobile {
          padding-bottom: 12px;
        }
      }

@media (max-width: 767px) {
        .padding-top-mobile {
          padding-top: 40px;
        }
      }

@media (max-width: 767px) {
        .padding-top-text {
          padding-top: 16px;
        }
      }
