<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل حساب جديد - موري</title>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&family=Cairo:wght@400&family=Montserrat:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="sign-up-container">
        <div class="main-container">
            <!-- Right side - Background -->
            <div class="background-section">
                <div class="background-overlay"></div>
                <div class="background-content">
                    <div class="content-top">
                        <!-- Logo -->
                        <div class="logo-container animated fadeInLeft">
                            <img src="assets/icons/muri-white.png"
                                alt="موري" class="logo">
                        </div>

                        <!-- Main Heading -->
                        <h2 class="bg-title animated fadeInRight">.رحلتك تبدأ بخطوة آمنة</h2>

                        <!-- Features List -->
                        <div class="features-list animated fadeInLeft">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="assets/icons/shiled-green.svg"
                                        alt="Security">
                                </div>
                                <div class="feature-content">
                                    <h3 class="feature-title">أمان تثق به</h3>
                                    <p class="feature-desc">.سائقون معتمدون وخاصية "طمئن من تحب" لراحة بالك وبالهم</p>
                                </div>
                            </div>

                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="assets/icons/calenda-green.svg"
                                        alt="Schedule">
                                </div>
                                <div class="feature-content">
                                    <h3 class="feature-title"> جدول يناسب احتياجك</h3>
                                    <p class="feature-desc">.رحلات مجدولة تلقائيًا لتناسب مواعيك بدقة</p>
                                </div>
                            </div>

                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="assets/icons/wallet-green.svg"
                                        alt="Comfort">
                                </div>
                                <div class="feature-content">
                                    <h3 class="feature-title">توفير وراحة</h3>
                                    <p class="feature-desc">.مقعدك محجوز في مركبة مريحة وباشتراك يوفر عليك الكثير</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial -->
                    <div class="testimonial animated fadeInRight">
                        <div class="testimonial-content">
                            <div class="quote-icon">
                                <img src="assets/icons/deouble-quote-green.svg"
                                    alt="Quote">
                            </div>
                            <span class="quote-text">"
                                أفضل قرار اتخذته هذا الفصل الدراسي. تطبيق موري وفر عليّ وقت وجهد كبير، والأهم من كذا،
                                أهلي صاروا متطمنين عليّ طول الوقت
                                "</span>
                            <div class="testimonial-author">
                                <img src="assets/image/quoter-( demo).png"
                                    alt="نورة العبدالله" class="author-avatar">
                                <div class="author-info">
                                    <div class="author-name">نورة العبدالله</div>
                                    <div class="author-title">طالبة في جامعة الملك سعود</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left side - Form -->
            <div class="form-section">
                <div class="form-content">
                    <!-- Header -->
                    <div class="header-text animated fadeInUp ">
                        <h1 class="main-title ">رحلتك تبدأ بخطوة آمنة.</h1>
                        <p class="subtitle">انضم لآلاف العملاء المستفدين من التطبيق كل يوم.</p>
                    </div>

                    <!-- Form -->
                    <form class="signup-form animated fadeInDown" [formGroup]="SignupForm" (ngSubmit)="signup()">
                        <!-- Profile Image Upload -->
                        <div class="profile-upload">
                            <div class="profile-image-container">
                                <div class="avatar-placeholder" (click)="triggerFileInput()">
                                    <img [src]="profileImageUrl || '/assets/image/upload_photo.png'" alt="Avatar"
                                        class="avatar-img">
                                    <div class="upload-icon">
                                        <img src="/assets/icons/upload.png" alt="Upload">
                                    </div>
                                </div>
                                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                                    style="display: none;">
                                <label class="upload-label" (click)="triggerFileInput()">رفع الصورة الشخصية</label>
                            </div>

                            <!-- Profile picture errors -->
                            @if (SignupForm.get('profile_pic')?.errors?.['required'] &&
                            (SignupForm.get('profile_pic')?.touched || submitted)) {
                            <div class="error">الصورة الشخصية مطلوبة</div>
                            }
                            @if (SignupForm.get('profile_pic')?.errors?.['invalidFileType'] &&
                            (SignupForm.get('profile_pic')?.touched || submitted)) {
                            <div class="error">نوع الملف غير مدعوم. يرجى اختيار صورة صالحة</div>
                            }
                            @if (SignupForm.get('profile_pic')?.errors?.['maxSize'] &&
                            (SignupForm.get('profile_pic')?.touched || submitted)) {
                            <div class="error">حجم الصورة يجب أن يكون أقل من 3 ميجابايت</div>
                            }
                            @if (SignupForm.get('profile_pic')?.errors?.['serverError'] &&
                            (SignupForm.get('profile_pic')?.touched || submitted)) {
                            <div class="error">{{ SignupForm.get('profile_pic')?.errors?.['serverError'] }}</div>
                            }
                        </div>

                        <!-- Name Fields -->
                        <div class="form-row">
                            <!-- First Name -->
                            <div class="form-field">
                                <label class="field-label">
                                    الاسم الأول
                                    <span class="required">*</span>

                                </label>
                                <input placeholder="الاسم الأول" type="text" class="form-input" maxlength="30" required
                                    formControlName="first_name"
                                    [class.invalid]="SignupForm.get('first_name')?.invalid && (SignupForm.get('first_name')?.touched || submitted)">

                                @if (SignupForm.get('first_name')?.errors?.['required'] &&
                                (SignupForm.get('first_name')?.touched || submitted)) {
                                <div class="error">الاسم الأول مطلوب</div>
                                }
                                @if (SignupForm.get('first_name')?.errors?.['minlength'] &&
                                (SignupForm.get('first_name')?.dirty || SignupForm.get('first_name')?.touched
                                || submitted)) {
                                <div class="error">يجب ان يكون حرفين على الأقل </div>
                                }
                                @if (SignupForm.get('first_name')?.errors?.['pattern'] &&
                                (SignupForm.get('first_name')?.touched || submitted)) {
                                <div class="error">الاسم يجب أن يحتوي على أحرف فقط</div>
                                }
                                @if (SignupForm.get('first_name')?.errors?.['serverError'] &&
                                (SignupForm.get('first_name')?.touched || submitted)) {
                                <div class="error">{{ SignupForm.get('first_name')?.errors?.['serverError'] }}</div>
                                }

                            </div>

                            <!-- Second Name -->
                            <div class="form-field">
                                <label class="field-label">
                                    الاسم الثاني
                                    <span class="required">*</span>

                                </label>
                                <input placeholder="الاسم الثاني" type="text" class="form-input" maxlength="30" required
                                    formControlName="second_name"
                                    [class.invalid]="SignupForm.get('second_name')?.invalid && (SignupForm.get('second_name')?.touched || submitted)">

                                @if (SignupForm.get('second_name')?.errors?.['required'] &&
                                (SignupForm.get('second_name')?.touched || submitted)) {
                                <div class="error">الاسم الثاني مطلوب</div>
                                }
                                @if (SignupForm.get('second_name')?.errors?.['pattern'] &&
                                (SignupForm.get('second_name')?.touched || submitted)) {
                                <div class="error">الاسم يجب أن يحتوي على أحرف فقط</div>
                                }
                                @if (SignupForm.get('second_name')?.errors?.['minlength'] &&
                                (SignupForm.get('second_name')?.dirty || SignupForm.get('second_name')?.touched
                                || submitted)) {
                                <div class="error">يجب ان يكون حرفين على الأقل </div>
                                }
                                @if (SignupForm.get('second_name')?.errors?.['serverError'] &&
                                (SignupForm.get('second_name')?.touched || submitted)) {
                                <div class="error">{{ SignupForm.get('second_name')?.errors?.['serverError'] }}</div>
                                }
                            </div>

                            <!-- Last Name -->
                            <div class="form-field">
                                <label class="field-label">
                                    اسم العائلة
                                    <span class="required">*</span>

                                </label>
                                <input placeholder="الاسم الأخير" type="text" class="form-input" maxlength="30" required
                                    formControlName="last_name"
                                    [class.invalid]="SignupForm.get('last_name')?.invalid && (SignupForm.get('last_name')?.touched || submitted)">

                                @if (SignupForm.get('last_name')?.errors?.['required'] &&
                                (SignupForm.get('last_name')?.touched || submitted)) {
                                <div class="error">اسم العائلة مطلوب</div>
                                }
                                @if (SignupForm.get('last_name')?.errors?.['pattern'] &&
                                (SignupForm.get('last_name')?.touched || submitted)) {
                                <div class="error">الاسم يجب أن يحتوي على أحرف فقط</div>
                                }
                                @if (SignupForm.get('last_name')?.errors?.['minlength'] &&
                                (SignupForm.get('last_name')?.dirty || SignupForm.get('last_name')?.touched
                                || submitted)) {
                                <div class="error">يجب ان يكون حرفين على الأقل </div>
                                }
                                @if (SignupForm.get('last_name')?.errors?.['serverError'] &&
                                (SignupForm.get('last_name')?.touched || submitted)) {
                                <div class="error">{{ SignupForm.get('last_name')?.errors?.['serverError'] }}</div>
                                }
                            </div>
                        </div>

                        <!-- Email and Phone -->
                        <div class="form-row">
                            <!-- Email -->
                            <!-- More robust email validation with better error handling -->
                            <div class="form-field">
                                <label class="field-label">
                                    البريد الالكتروني
                                    <span class="required">*</span>
                                </label>
                                <input type="email" class="form-input" placeholder="example@example.com" maxlength="50"
                                    required
                                    formControlName="email"
                                    [class.invalid]="SignupForm.get('email')?.invalid && (SignupForm.get('email')?.dirty || SignupForm.get('email')?.touched || submitted)">

                                <!-- Show required error first -->
                                @if (SignupForm.get('email')?.errors?.['required'] && (SignupForm.get('email')?.dirty ||
                                SignupForm.get('email')?.touched || submitted)) {
                                <div class="error">البريد الإلكتروني مطلوب</div>
                                }
                                <!-- Show other errors only when field has value and is not required error -->
                                @else {
                                <!-- Custom validator errors -->
                                @if (SignupForm.get('email')?.errors?.['emailWithDot'] &&
                                (SignupForm.get('email')?.dirty || SignupForm.get('email')?.touched || submitted)) {
                                <div class="error">البريد الإلكتروني يجب أن يحتوي على نقطة</div>
                                }
                                @else if (SignupForm.get('email')?.errors?.['emailNoArabic'] &&
                                (SignupForm.get('email')?.dirty || SignupForm.get('email')?.touched || submitted)) {
                                <div class="error">البريد الإلكتروني لا يجب أن يحتوي على أحرف عربية</div>
                                }
                                @else if (SignupForm.get('email')?.errors?.['serverError'] &&
                                (SignupForm.get('email')?.dirty || SignupForm.get('email')?.touched || submitted)) {
                                <div class="error">{{ SignupForm.get('email')?.errors?.['serverError'] }}</div>
                                }
                                <!-- Catch any invalid email (including Angular's built-in email validator) -->
                                @else if (SignupForm.get('email')?.invalid && SignupForm.get('email')?.value &&
                                (SignupForm.get('email')?.dirty || SignupForm.get('email')?.touched || submitted)) {
                                <div class="error">البريد الإلكتروني غير صحيح</div>
                                }
                                }
                            </div>

                            <!-- Phone -->
                            <div class="form-field">
                                <label class="field-label">
                                    رقم الجوال
                                    <span class="required">*</span>

                                </label>
                                <div class="phone-input">
                                    <ngx-intl-tel-input
                                        [preferredCountries]="[CountryISO.SaudiArabia]"
                                        [enableAutoCountrySelect]="true"
                                        [enablePlaceholder]="false"
                                        [searchCountryFlag]="true"
                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                        [selectFirstCountry]="false"
                                        [selectedCountryISO]="CountryISO.SaudiArabia"
                                        [maxLength]="15"
                                        [phoneValidation]="true"
                                        [separateDialCode]="separateDialCode"
                                        [numberFormat]="PhoneNumberFormat.National"
                                        style="width:100%;"
                                        formControlName="phone"
                                        searchCountryPlaceholder="البحث عن الدولة"
                                        required
                                        [class.invalid]="SignupForm.get('phone')?.invalid && (SignupForm.get('phone')?.touched || submitted)">
                                    </ngx-intl-tel-input>
                                </div>

                                @if (SignupForm.get('phone')?.errors?.['required'] && (SignupForm.get('phone')?.touched
                                || submitted)) {
                                <div class="error">رقم الجوال مطلوب</div>
                                }
                                @if (SignupForm.get('phone')?.errors?.['validatePhoneNumber'] &&
                                SignupForm.get('phone')?.value &&
                                (SignupForm.get('phone')?.touched || submitted)) {
                                <div class="error">رقم الجوال غير صحيح</div>
                                }
                                @if (SignupForm.get('phone')?.errors?.['serverError'] &&
                                (SignupForm.get('phone')?.touched || submitted)) {
                                <div class="error">{{ SignupForm.get('phone')?.errors?.['serverError'] }}</div>
                                }
                            </div>
                        </div>

                        <!-- Birth Date -->
                        <!-- Updated date input with proper validation -->
                        <div class="form-field">
                            <label class="field-label">
                                تاريخ الميلاد
                                <span class="required">*</span>
                            </label>
                            <input
                                type="date"
                                class="form-input"
                                required
                                formControlName="birth_date"
                                min="1900-01-01"
                                pattern="\d{4}-\d{2}-\d{2}"
                                [class.invalid]="SignupForm.get('birth_date')?.invalid && (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted)">

                            @if (SignupForm.get('birth_date')?.errors?.['required'] &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted))
                            {
                            <div class="error">تاريخ الميلاد مطلوب</div>
                            }
                            @if (SignupForm.get('birth_date')?.errors?.['minimumAge'] &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted))
                            {
                            <div class="error">يجب أن يكون العمر أكثر من 3 سنوات</div>
                            }
                            @if (SignupForm.get('birth_date')?.errors?.['min'] &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted))
                            {
                            <div class="error">تاريخ الميلاد غير صحيح</div>
                            }
                            @if (SignupForm.get('birth_date')?.errors?.['max'] &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted))
                            {
                            <div class="error">تاريخ الميلاد لا يمكن أن يكون في المستقبل</div>
                            }
                            @if (SignupForm.get('birth_date')?.errors?.['pattern'] &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted))
                            {
                            <div class="error">تنسيق التاريخ غير صحيح</div>
                            }
                            @if (SignupForm.get('birth_date')?.errors?.['serverError'] &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted))
                            {
                            <div class="error">{{ SignupForm.get('birth_date')?.errors?.['serverError'] }}</div>
                            }
                            <!-- Catch-all for invalid dates -->
                            @if (SignupForm.get('birth_date')?.invalid &&
                            SignupForm.get('birth_date')?.value &&
                            (SignupForm.get('birth_date')?.dirty || SignupForm.get('birth_date')?.touched || submitted)
                            &&
                            !SignupForm.get('birth_date')?.errors?.['required'] &&
                            !SignupForm.get('birth_date')?.errors?.['minimumAge'] &&
                            !SignupForm.get('birth_date')?.errors?.['min'] &&
                            !SignupForm.get('birth_date')?.errors?.['max'] &&
                            !SignupForm.get('birth_date')?.errors?.['pattern'] &&
                            !SignupForm.get('birth_date')?.errors?.['serverError']) {
                            <div class="error">تاريخ الميلاد غير صحيح</div>
                            }
                        </div>

                        <!-- ID Number and Nationality -->
                        <div class="form-row">
                            <!-- ID Number -->
                            <div class="form-field">
                                <label class="field-label">
                                    رقم الهوية
                                    <span class="required">*</span>
                                </label>
                                <input class="form-input"
                                    type="text"
                                    inputmode="numeric"
                                    placeholder="رقم الهوية"
                                    maxlength="10"
                                    required
                                    formControlName="identity_number"
                                    (keypress)="allowOnlyNumbers($event)"
                                    (input)="sanitizeIdentityNumber($event)"
                                    (paste)="onIdentityPaste($event)"
                                    autocomplete="off"
                                    [class.invalid]="SignupForm.get('identity_number')?.invalid && (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched || submitted)">

                                <div class="supporting-text">
                                    <span class="support-label">يجب أن يتكون من 10 أرقام</span>
                                </div>

                                @if (SignupForm.get('identity_number')?.errors?.['required'] &&
                                (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched
                                || submitted)) {
                                <div class="error">رقم الهوية مطلوب</div>
                                }
                                @if (SignupForm.get('identity_number')?.errors?.['pattern'] &&
                                (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched
                                || submitted)) {
                                <div class="error">يجب إدخال أرقام فقط</div>
                                }
                                @if (SignupForm.get('identity_number')?.errors?.['minlength'] &&
                                (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched
                                || submitted)) {
                                <div class="error">رقم الهوية يجب أن يتكون من 10 أرقام</div>
                                }
                                @if (SignupForm.get('identity_number')?.errors?.['maxlength'] &&
                                (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched
                                || submitted)) {
                                <div class="error">رقم الهوية يجب أن يتكون من 10 أرقام</div>
                                }
                                @if (SignupForm.get('identity_number')?.errors?.['noSpacesAllowed'] &&
                                (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched
                                || submitted)) {
                                <div class="error">المسافات غير مسموحة</div>
                                }
                                @if (SignupForm.get('identity_number')?.errors?.['serverError'] &&
                                (SignupForm.get('identity_number')?.dirty || SignupForm.get('identity_number')?.touched
                                || submitted)) {
                                <div class="error">{{ SignupForm.get('identity_number')?.errors?.['serverError'] }}
                                </div>
                                }
                            </div>

                            <!-- Nationality -->
                            <div class="form-field">
                                <label class="field-label">
                                    الجنسية <span class="required">*</span>

                                </label>
                                <select class="form-select" dir="rtl" formControlName="nationality"
                                    [class.invalid]="SignupForm.get('nationality')?.invalid && (SignupForm.get('nationality')?.touched || submitted)">
                                    <option value="" disabled selected>اختر الجنسية</option>
                                    @for (nationality of nationalities; track $index) {
                                    <option [value]="nationality.nationalityEn">{{ nationality.nationalityAr }}</option>
                                    }
                                </select>

                                @if (SignupForm.get('nationality')?.errors?.['required'] &&
                                (SignupForm.get('nationality')?.touched || submitted)) {
                                <div class="error">اختيار الجنسية مطلوب</div>
                                }
                                @if (SignupForm.get('nationality')?.errors?.['serverError'] &&
                                (SignupForm.get('nationality')?.touched || submitted)) {
                                <div class="error">{{ SignupForm.get('nationality')?.errors?.['serverError'] }}</div>
                                }
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-field">
                            <label class="field-label">
                                كلمة المرور
                                <span class="required">*</span>

                            </label>
                            <div class="password-input">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-input" maxlength="30"
                                    required
                                    formControlName="password" placeholder="ادخل كلمه المرور"
                                    onkeypress='return /[A-Za-z0-9!@_#$%^&*(),.?":{}|<>]/.test(String.fromCharCode(event.charCode))'
                                    [class.invalid]="SignupForm.get('password')?.invalid && (SignupForm.get('password')?.touched || submitted)">
                                <div class="eye-icon">
                                    @if (!showPassword) {
                                    <svg (click)="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg"
                                        width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                                        <path d="M2 2L22 22" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    } @else {
                                    <svg (click)="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg"
                                        width="20px" height="20px"
                                        viewBox="0 0 24 24" fill="none">
                                        <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000"
                                            stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    }
                                </div>
                            </div>

                            @if (SignupForm.get('password')?.errors?.['required'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">كلمة المرور مطلوبة</div>
                            }
                            @if (SignupForm.get('password')?.errors?.['minlength'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">كلمة المرور يجب أن تتكون من 8 أحرف على الأقل</div>
                            }
                            @if (SignupForm.get('password')?.errors?.['specialCharacter'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">كلمة المرور يجب أن تحتوي على رمز خاص</div>
                            }
                            @if (SignupForm.get('password')?.errors?.['containsNumber'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">كلمة المرور يجب أن تحتوي على رقم</div>
                            }
                            @if (SignupForm.get('password')?.errors?.['noSpaceAllowed'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">كلمة المرور لا يجب أن تحتوي على مسافات</div>
                            }
                            @if (SignupForm.get('password')?.errors?.['containsLetter'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">كلمة المرور يجب أن تحتوي على أحرف</div>
                            }
                            @if (SignupForm.get('password')?.errors?.['serverError'] &&
                            (SignupForm.get('password')?.touched || submitted)) {
                            <div class="error">{{ SignupForm.get('password')?.errors?.['serverError'] }}</div>
                            }
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-field">
                            <label class="field-label">
                                تأكيد كلمة المرور <span class="required">*</span>

                            </label>
                            <div class="password-input">
                                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-input"
                                    maxlength="30" required
                                    formControlName="confirm_password" placeholder="ادخل كلمه المرور"
                                    onkeypress='return /[A-Za-z0-9!@_#$%^&*(),.?":{}|<>]/.test(String.fromCharCode(event.charCode))'
                                    [class.invalid]="SignupForm.get('confirm_password')?.invalid && (SignupForm.get('confirm_password')?.touched || submitted)">
                                <div class="eye-icon">

                                    @if (!showConfirmPassword) {
                                    <svg (click)="toggleConfirmPasswordVisibility()" xmlns="http://www.w3.org/2000/svg"
                                        width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                                        <path d="M2 2L22 22" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    } @else {
                                    <svg (click)="toggleConfirmPasswordVisibility()" xmlns="http://www.w3.org/2000/svg"
                                        width="20px" height="20px"
                                        viewBox="0 0 24 24" fill="none">
                                        <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000"
                                            stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    }
                                </div>
                            </div>

                            @if (SignupForm.get('confirm_password')?.errors?.['required'] &&
                            (SignupForm.get('confirm_password')?.touched || submitted)) {
                            <div class="error">تأكيد كلمة المرور مطلوب</div>
                            }
                            @if (SignupForm.get('confirm_password')?.errors?.['minlength'] &&
                            (SignupForm.get('confirm_password')?.touched || submitted)) {
                            <div class="error">تأكيد كلمة المرور يجب أن يتكون من 8 أحرف على الأقل</div>
                            }
                            @if (SignupForm.get('confirm_password')?.errors?.['passwordMismatch'] &&
                            (SignupForm.get('confirm_password')?.touched || submitted)) {
                            <div class="error">كلمة المرور غير متطابقة</div>
                            }
                        </div>

                        <!-- Terms Checkbox -->
                        <div class="terms-section">
                            <div class="checkbox-container">
                                <input type="checkbox" id="terms" class="checkbox" formControlName="terms" required>
                                <label for="terms" class="checkbox-label"></label>
                            </div>
                            <label for="terms" class="terms-text">
                                أوافق على جميع
                                <a class="link" href="/terms"> الشروط</a>
                                و
                                <a class="link" href="/privacy"> سياسات الخصوصية </a>
                            </label>

                            @if (SignupForm.get('terms')?.errors?.['required'] && (SignupForm.get('terms')?.touched ||
                            submitted)) {
                            <div class="error">يجب الموافقة على الشروط وسياسات الخصوصية</div>
                            }
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="submit-btn">إنشاء حساب</button>

                        <!-- Divider -->
                        <div class="divider">
                            <div class="divider-line"></div>
                            <div class="divider-line"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>